body {
    font-family: Arial;
    background: #020617;
    color: white;
    text-align: center;
}

.container {
    width: 420px;
    margin: 30px auto;
    background: #0f172a;
    padding: 20px;
    border-radius: 10px;
}

input, textarea {
    width: 95%;
    padding: 8px;
    margin: 8px 0;
}

textarea {
    height: 80px;
}

button {
    background: #22c55e;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
}

hr {
    margin: 15px 0;
}

#result {
    margin-top: 20px;
}